html {
    font-size: 62.5%;
    box-sizing: border-box;

    display: flex;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    line-height: 1.5;
    margin: 0;
    background-color: $color1;

    flex: 1;
}
main {
    height: 100%;
}
a {
    text-decoration: none;
    color: $blanco;
}
p {
    font-size: 1.8rem;
    margin: 0.5rem;
}
h1, h2, h3 {
    font-family: $fuente_principal;
    font-weight: $bold;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
    font-weight: $bold;
    text-align: start;
    margin: 0;
}
p {
    margin: 0;
}
.mensaje {
    position: fixed;
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: $blanco;
    border: 2px solid $negro;
    border-radius: 2rem;
    padding: 2rem;
    bottom: 2rem;
    opacity: 0;

    img {
        width: 3.5rem;
    }

    animation-name: aparecer;
    animation-duration: 5s;
}
.contenedor2 {
    padding: 4rem;
}
.alerta {
    text-align: center;
    font-size: 1.8rem;
}
.error {
    color: red;
}
.exito {
    color: green;
}
@keyframes aparecer {
   0% {
    right: -50rem;
    opacity: 1;
   }
   20% {
    right: 2rem;
    opacity: 1;
   }
   60% {
    right: 2rem;
    opacity: 1;
   }
   100% {
    right: -50rem;
   }
}
