.contenedor-grid2, .contenedor-grid4 {
    display: grid;
    align-items: center;
    height: 100%;
}
.contenedor {
    margin: 2rem 10%;
}
.contenedor-grid2 {
    grid-template-columns: repeat(2, 1fr);
}
.contenedor-grid4 {
    grid-template-columns: repeat(4, 1fr);
}
.contenedor-100 {
    margin: 0;
    padding: 3rem 5%;
}
.contenedor-blanco {
    background-color: $blanco;
    padding: 2rem;
    box-shadow:
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 1rem;
}
.flexWrap {
    display: flex;
    flex-wrap: nowrap;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.botones {
    display: flex;
    justify-content: space-evenly;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.boton {
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}
.btn-enviar {
    background-color: $colorSecundario;
    font-weight: $bold;
    margin-top: 2rem;

    transition: all ease-out 0.2s;
}
.btn-enviar:hover {
    background-color: darken($color: $colorSecundario, $amount: 10);
}