.gris {
    background-color: $blanco;
    border-bottom: 2px solid $negro;
}
.categorias {
    display: grid;
    grid-template-columns: repeat(
        auto-fill, 
        minmax(
            20rem, 2fr
        )
        
    );
    margin: 1rem;
    gap: 2rem;
}
.categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $negro;

    p {
        font-size: 1.8rem;
    }
    .categoria-img img {
        width: 6rem;
        height: 6rem;
        background-color: $gris;
        border-radius: 50%;

        transition: all ease-in 0.2s;
    }
}
.categoria-img:hover img {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}