.contenedor30-70 {
    grid-template-columns: minmax(25rem, 20%) auto;
}
.barra-izquierda {
    border-right: 2px solid $negro;
    background-color: $blanco;
    height: 100%;
    h3 {
        font-weight: $regular;
    }
}
@media (max-width: $tablet) {
    .barra-izquierda {
        height: auto;
    }
}
.catalogo {
    height: 100%;
    padding: 4rem;

    span {
        color: lighten($color: $colorPrimario, $amount: 20);;
    }
    h2 {
        margin-top: 0;
    }
}
.productos {
    display: grid;
    grid-template-columns: repeat(
        auto-fill, 
        minmax(
            20rem, 1fr
        )
        
    );
    gap: 1.5rem;

    h2 {
        margin-bottom: 2rem;
    }
}
.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 20rem;

    border: 1px solid $negro;
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: $blanco;

    transition: all linear 0.2s 0.2s;
}
.producto:hover {
    transform: scale(1.05);
}
.productoContenedor {
    color: $negro;
    img {
        width: 80%;
    }
    .precio {
        font-weight: $bold;
        color: darken($color: $colorSecundario, $amount: 20);
    }
    .nomProducto {
        border-top: 1px solid $negro;
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: $bold;
    }
    .descProducto {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    .invProducto {
        margin-top: 1rem;
        font-size: 1.4rem;

    }
}
@media (max-width: $tablet) {
    .contenedor30-70 {
        display: flex;
        flex-direction: column;
    }
    .barra-izquierda {
        border: none;
        border-bottom: 2px solid $negro;
        width: 100%;
    }
}