.filter-bar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    padding: 10px;
    margin: 0 20% 2rem 20%;

    label {
        font-size: 2rem;
        font-weight: $bold;
    }
    select {
        font-size: 1.8rem;    
        height: 2.2rem;
        border: none;
        border-bottom: 3px solid $negro;
    }
  }
  @media (min-width: $tablet) {
    .filter-bar {
      margin: 0;
    }
  }

  /* Estilos para mostrar los productos */
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .product-item {
    border: 1px solid #ccc;
    padding: 10px;
  }